# Car Price Prediction::

Download dataset from this link:

https://www.kaggle.com/hellbuoy/car-price-prediction

# Problem Statement::

A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car
How well those variables describe the price of a car
Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

# task::
We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

# WORKFLOW ::

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

5.Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)
6.Train the Model with Epochs (100) and validate it

7.If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

8.Evaluation Step

9.Prediction

In [3]:
import pandas as pd
#Loading data in a dataframe 'CarPrice_Assignment' and using head() to display the first 5 instances.
carprice_data= pd.read_csv("CarPrice_Assignment.csv")
carprice_data.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
#Number of instances and attributes,i.e., Dimensionality of the dataset
carprice_data.shape

(205, 26)

In [5]:
carprice_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [6]:
#Sum of missing cells for each attribute
carprice_data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

The 0 sum for all attributes shows that there are no missing values.

In [7]:
#Descriptive Statistics
carprice_data.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [8]:
x = carprice_data[["wheelbase","carwidth","curbweight","compressionratio","horsepower","highwaympg"]].values
y = carprice_data[["price"]].values
x

array([[  88.6,   64.1, 2548. ,    9. ,  111. ,   27. ],
       [  88.6,   64.1, 2548. ,    9. ,  111. ,   27. ],
       [  94.5,   65.5, 2823. ,    9. ,  154. ,   26. ],
       ...,
       [ 109.1,   68.9, 3012. ,    8.8,  134. ,   23. ],
       [ 109.1,   68.9, 3217. ,   23. ,  106. ,   27. ],
       [ 109.1,   68.9, 3062. ,    9.5,  114. ,   25. ]])

In [9]:
y

array([[13495.   ],
       [16500.   ],
       [16500.   ],
       [13950.   ],
       [17450.   ],
       [15250.   ],
       [17710.   ],
       [18920.   ],
       [23875.   ],
       [17859.167],
       [16430.   ],
       [16925.   ],
       [20970.   ],
       [21105.   ],
       [24565.   ],
       [30760.   ],
       [41315.   ],
       [36880.   ],
       [ 5151.   ],
       [ 6295.   ],
       [ 6575.   ],
       [ 5572.   ],
       [ 6377.   ],
       [ 7957.   ],
       [ 6229.   ],
       [ 6692.   ],
       [ 7609.   ],
       [ 8558.   ],
       [ 8921.   ],
       [12964.   ],
       [ 6479.   ],
       [ 6855.   ],
       [ 5399.   ],
       [ 6529.   ],
       [ 7129.   ],
       [ 7295.   ],
       [ 7295.   ],
       [ 7895.   ],
       [ 9095.   ],
       [ 8845.   ],
       [10295.   ],
       [12945.   ],
       [10345.   ],
       [ 6785.   ],
       [ 8916.5  ],
       [ 8916.5  ],
       [11048.   ],
       [32250.   ],
       [35550.   ],
       [36000.   ],
       [ 5195.   ],
       [ 6095.   ],
       [ 6795.   ],
       [ 6695.   ],
       [ 7395.   ],
       [10945.   ],
       [11845.   ],
       [13645.   ],
       [15645.   ],
       [ 8845.   ],
       [ 8495.   ],
       [10595.   ],
       [10245.   ],
       [10795.   ],
       [11245.   ],
       [18280.   ],
       [18344.   ],
       [25552.   ],
       [28248.   ],
       [28176.   ],
       [31600.   ],
       [34184.   ],
       [35056.   ],
       [40960.   ],
       [45400.   ],
       [16503.   ],
       [ 5389.   ],
       [ 6189.   ],
       [ 6669.   ],
       [ 7689.   ],
       [ 9959.   ],
       [ 8499.   ],
       [12629.   ],
       [14869.   ],
       [14489.   ],
       [ 6989.   ],
       [ 8189.   ],
       [ 9279.   ],
       [ 9279.   ],
       [ 5499.   ],
       [ 7099.   ],
       [ 6649.   ],
       [ 6849.   ],
       [ 7349.   ],
       [ 7299.   ],
       [ 7799.   ],
       [ 7499.   ],
       [ 7999.   ],
       [ 8249.   ],
       [ 8949.   ],
       [ 9549.   ],
       [13499.   ],
       [14399.   ],
       [13499.   ],
       [17199.   ],
       [19699.   ],
       [18399.   ],
       [11900.   ],
       [13200.   ],
       [12440.   ],
       [13860.   ],
       [15580.   ],
       [16900.   ],
       [16695.   ],
       [17075.   ],
       [16630.   ],
       [17950.   ],
       [18150.   ],
       [ 5572.   ],
       [ 7957.   ],
       [ 6229.   ],
       [ 6692.   ],
       [ 7609.   ],
       [ 8921.   ],
       [12764.   ],
       [22018.   ],
       [32528.   ],
       [34028.   ],
       [37028.   ],
       [31400.5  ],
       [ 9295.   ],
       [ 9895.   ],
       [11850.   ],
       [12170.   ],
       [15040.   ],
       [15510.   ],
       [18150.   ],
       [18620.   ],
       [ 5118.   ],
       [ 7053.   ],
       [ 7603.   ],
       [ 7126.   ],
       [ 7775.   ],
       [ 9960.   ],
       [ 9233.   ],
       [11259.   ],
       [ 7463.   ],
       [10198.   ],
       [ 8013.   ],
       [11694.   ],
       [ 5348.   ],
       [ 6338.   ],
       [ 6488.   ],
       [ 6918.   ],
       [ 7898.   ],
       [ 8778.   ],
       [ 6938.   ],
       [ 7198.   ],
       [ 7898.   ],
       [ 7788.   ],
       [ 7738.   ],
       [ 8358.   ],
       [ 9258.   ],
       [ 8058.   ],
       [ 8238.   ],
       [ 9298.   ],
       [ 9538.   ],
       [ 8449.   ],
       [ 9639.   ],
       [ 9989.   ],
       [11199.   ],
       [11549.   ],
       [17669.   ],
       [ 8948.   ],
       [10698.   ],
       [ 9988.   ],
       [10898.   ],
       [11248.   ],
       [16558.   ],
       [15998.   ],
       [15690.   ],
       [15750.   ],
       [ 7775.   ],
       [ 7975.   ],
       [ 7995.   ],
       [ 8195.   ],
       [ 8495.   ],
       [ 9495.   ],
       [ 9995.   ],
       [11595.   ],
       [ 9980.   ],
       [13295.   ],
       [13845.   ],
       [12290.   ],
       [12940.   ],
       [13415.   ],
       [15985.   ],
       [16515.   ],
       [18420.   ],
       [18950.   ],
       [16845.   ],
       [19045.   ],
       [21485.   ],
       [22470.   ],
       [22625.   ]])

In [10]:
x.size

1230

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=0)
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.15,random_state=0)

In [14]:
x_train.shape

(121, 6)

In [15]:
x_test.shape

(62, 6)

In [16]:
x_val.shape

(22, 6)

In [17]:
y_val.shape

(22, 1)

In [18]:
y_test.shape

(62, 1)

In [19]:
y_train.shape

(121, 1)

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(x_train)
X_test = sc.fit_transform(x_test)
X_val = sc.fit_transform(x_val)

Y_train = sc.fit_transform(y_train)
Y_test = sc.fit_transform(y_test)
Y_val = sc.fit_transform(y_val)

In [22]:
# Creating a Neural Network Model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam

In [27]:
# having 19 neuron is based on the number of available features
model = Sequential()
model.add(Dense(6,activation='relu'))
model.add(Dense(1))
model.compile(optimizer='Adam',loss='mse')

WARNING:tensorflow:From /home/ddd/PycharmProjects/DLS1/venv/lib/python3.6/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [ ]:
#model.fit(x=X_train,y=y_train,validation_data=(X_test,y_test),epochs=100)
model.fit(x=X_train,y=Y_train,epochs=100, validation_data= 
   (X_val,Y_val), verbose=1)
model.summary()

Train on 121 samples, validate on 22 samples
Epoch 1/100